@font-face {
    font-family: "norse";
    src: local(norse),
    url("../fonts/Norse-Bold.otf");
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    background: #eff0f1;
    box-sizing: border-box;
}

p {
    margin-block: 0;
}

img {
    height: 13vh;
}

/*left side*/
#left {
    background-image: url("https://images.unsplash.com/photo-1531436040007-7216019112d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 37%;
}

#logo {
    margin-top: 25vh;
    background-color: rgba(0, 0, 0, 0.35);
    height: 15vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo-text {
    line-height: 15vh;
    color: white;
    font-size: 10vh;
    font-family: norse, Arial, sans-serif;
    padding-top: 2.5vh;
}

/*right side*/

#right {
    display: flex;
    width: 63%;
}

#right-top, #right-bottom {
    flex: 1;
    width: auto;
    padding-left: 40px;

}

#right-top {
    height: calc(35% - 50px);
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: flex-end;
    padding-bottom: 50px;
}

#inputs {
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1.55vh;
}

#inputs-left, #inputs-right {
    gap: 10%;
    display: flex;
    flex-direction: column;

}

#right-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 40px;
    height: 30%;
    width: auto;
    background: #f5f5f5;
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

#right-bottom {
    height: calc(35% - 50px);
    padding-top: 4vh;
    position: relative;
}

.text-top {
    font-size: 3vh;
    padding-right: 10vw;
}

.text-mid {
    padding: 1.5vh 0 1.5vh 0;
    font-size: 3vh
}

.text-bottom {
    padding-top: 2vh;
    font-size: 1.8vh;
}

label {
    font-size: 1.2vh;
    margin: 1.5vh 0 0 0;
}

input {
    height: 2.5vh;
    width: 18vw;
    border-radius: 4px;
    border-color: lightsteelblue;
    font-size: 18px;
    border-width: 1px;
    margin: 3px 0 3px 0;
}

input :focus {
    border-color: dodgerblue;
}

button {
    background: #5c7dac;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    border-style: none;
    width: 20vw;
    height: 5vh;
    border-radius: 10px;
    color: white;
    font-size: 2vh;
    max-width: 200px;
    max-height: 50px;
}
